$blue-secondary: #0072bc;
$black-secondary: #757575;

.details-container {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    width: 100%;
    font-size: 12px;

    .production-row {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      margin: 0 15px;
      border-bottom: 1px solid gray;

      .row {
        display: flex;
        justify-content: space-between;
        div {
          padding-bottom: 5px;
        }
        .type {
          font-weight: bold;
          font-size: 14px;
          span:nth-child(2) {
            color: $blue-secondary;
          }
        }
        .year {
          padding-top: 3px;
          font-weight: 600;
          color: #191919;
        }
        .description {
          color: $black-secondary;
        }
      }
    }

    .extra {
      display: flex;
      padding: 10px 0;
      margin: 0 15px;
      justify-content: space-between;
      .connections {
        color: $blue-primary;
        font-weight: bold;
        padding-top: 8px;
      }
      .avatars {
        display: flex;
        img,
        div {
          position: relative;
          opacity: 0.8;
          border: 1px solid #ffffff;
        }
        img:nth-child(2) {
          right: 8px;
        }
        img:nth-child(3) {
          right: 16px;
        }
        img:nth-child(4) {
          right: 24px;
        }
        img:nth-child(5) {
          right: 32px;
        }
        img:nth-child(6) {
          right: 40px;
        }
        div {
          right: 40px;
          border-radius: 50%;
          font-size: 10px;
        }
        .count {
          text-align: center;
          background-color: #0072bc;
          color: #ffffff;
          width: 25px;
          height: 20px;
          padding-top: 5px;
        }
      }
      .credits {
        color: $blue-primary;
        font-weight: bold;
        padding-top: 8px;
        .number {
          padding: 0 5px;
          margin-left: 5px;
          border-radius: 10px;
          background-color: #0072bc;
          font-size: 10px;
          color: #ffffff;
          opacity: 1;
        }
      }
      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }