$blue-extra: #94c1e6;
$blue-primary: #006fbf;

.profile-container {
    background-color: #fbfbfd;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    opacity: 1;

    .close {
      font-size: 18px;
      text-align: right;
      color: #9e9e9f;
      padding-right: 10px;
      opacity: 1;
    }

    .avatar {
      img {
        border-radius: 50%;
        border: 2px solid #92c0e8;
      }
    }

    .match {
      font-size: 10px;
      font-weight: 600;
      color: $blue-extra;
    }

    .name {
      font-size: 18px;
      font-weight: 600;
      color: $blue-primary;
    }

    .city {
      font-weight: 600;
      color: #000000de;
    }

    .self-description {
      font-family: Italic;
      color: #191919;
      padding: 0 25px;
    }

    .buttons {
      display: flex;
      color: #ffffff;
      div {
        width: 50%;
        padding: 10px 0;
        background-color: $blue-primary;
        border: 1px solid #e1e3eb;
        opacity: 0.4;
      }
    }
  }