@import 'profile', 'details';


.container {
  font-family: Roboto, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  .card {
    padding: 30px;
    width: 811px;
    background-color: white;
    border: 2px solid #f1f1f1;
    margin: 10% auto;

    .container {
      display: flex;
      border: 2px solid #f1f1f1;
    }
  }

  @media (max-width: 414px) {
    .buttons {
      flex-direction: column;
      div {
        width: 100%;
      }
    }
    .extra {
      flex-direction: column;
    }
   }

  @media (max-width: 568px) {
    .container {
      flex-direction: column;
    }
   }

}
